*{
    margin:0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
section{
    background-image: url(/img2.jpg);
    height: 750px;
}
.head{
    position: relative;
    top:200px;
    font-size: 40px;
}
.list{
    position: relative;
    top:300px;
    font-size: 30px;
}
#click{
    height: 40px;
    width: 300px;
    position: relative;
    top:100px;
    background-color: #003554;
    color: white;
}
#click:hover{
    background-color: green;
}